

html {
  margin: auto;
  width: 960px;
  padding: 2px;
  border-style: solid;
  border-color: #744B19;
  border-radius: 10px;
}

header {
  position: relative;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  background: #8E954B;
  color: Black;
  padding: 20px;
}

body {
  margin: 5px;
  height: inherit;
  border-style: outset;
  border-color: #6C4516;
  border-radius: 10px;
  background-color: #917928;
}

main {
  padding: 5px;
  border-radius: 10px;
  background-color: #966F22;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

img {
  border-style: solid;
  border-radius: 5px;
  display: inline;
  max-width:460px;
  max-height:190px;
}

p {
  margin-bottom: 20px;
}

footer {
  padding: 2px;
  border-radius: 5px;
  background-color: #8E954B;
}
