

html {
  padding: 2px;
  border-style: solid;
  border-color: #744B19;
  border-radius: 10px;
}

header {
  position: fixed;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  background: #8E954B;
  color: Black;
  padding: 20px;
}

body {
  height: 100%;
  border-style: outset;
  border-color: #6C4516;
  border-radius: 10px;
  background-color: #917928;
}

main {
  padding: 5px;
  border-radius: 10px;
  background-color: #966F22;
}
h1 {
  font-size: 20px;
  margin-bottom: 20px;
}
h2 {

}
img {
  border-style: solid;
  border-radius: 5px;
  display: inline;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

#user_story {

}
p {
  margin-bottom: 20px;
}
footer {
  position: fixed;
  padding: 2px;
  border-radius: 5px;
  background-color: #8E954B;
}
